/*reset css */
html{
    font-size: 62.5%;
}
    
    /* prop generale pour mettre  */
body{ 
    font: 1.6rem "Open Sans",sans-serif; 
    letter-spacing: .1rem;
    line-height:  1.6;
    margin: 0;
    background-color: var(--background-color);
    

}
h1, h2, h3, h4, h5, h6, p, ul, ol{
 margin: 0;
 padding: 0;
 list-style-type: none
 
}
a{

 text-decoration: none;
}
*{

    box-sizing: border-box;

}
img{
display: inline-block;
vertical-align: middle;
object-fit: cover;
}