@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sixtyfour&display=swap');
@import url(./reset.css);
/* theme */
:root{ /* selector root = racine avec les variables */ 
    --bgcolor: #1d3f58;
    --color-border: #141212;
    --colortext-title: #ffe600;
    --border-radius: .4rem;
    --bgsection: #46a70d;
    --substitle: medium;
    --background-color: #130f40;
    --btns-default-color: #0775c4;
    
}
header > h1{
background-color: var(--bgcolor);
 color: #fff;
 font-weight: normal;
 line-height: 6.5rem; /* 65px */
 text-align: center;
 font-size: 4.5rem;
 font-family: "Sixtyfour", sans-serif;
 font-optical-sizing: auto;
 font-weight: 400;
 font-style: normal;
 font-variation-settings:
   "BLED" 0,
   "SCAN" 0;

}
section{
  background-color: var(--color-border);
  color: var(--colortext-title);
 max-width: 90rem; /* 900px */
 margin:5rem auto;
 border: solid  .1rem color #333;

}
section img{

width:  100%;

}
section h2{
text-transform: capitalize;
font-weight: 400;

}
.btn-default{
display: inline-block;
width: max-content;
background-color: var(--btns-default-color);
line-height: 2.5rem;
padding: .3rem .5rem;
border-radius: var(--border-radius);
color:var(--bgsection);
}
.btn-otpion-success{ /* couleur blue */
  background-color: #2980b9;
  color: var(--bgsection);
}
section .btn-otpion-warning{
background-color: #c0392b;
color: var(--bgsection)
}
/* creation d'un bouton par un élément a*/







